@import '../../index.css';

.header {
	color: var(--text-secondary);
	padding-bottom: 1rem;
}

.content {
	color: var(--text-primary);
	padding-bottom: 1rem;
	padding-right: 2rem;
}

.header::selection {
	color: var(--text-primary);
	background-color: var(--text-tertiary);
}

.content::selection {
	color: var(--text-primary);
	background-color: var(--text-secondary);
}
