@import '../../index.css';

form {
	color: var(--text-primary);
}

input {
	display: block;
	width: 25rem;
	height: 2.5rem;
	padding: 1rem;
	border-radius: 25px;
	border: var(--text-secondary) solid 1px;
	background: var(--text-primary);
	margin: 0.5rem 1rem;
	outline: none;
}

.invalid {
	border: 1px solid #b40e0e;
	background-color: #fddddd;
}

.invalid:focus {
	border-color: var(--text-tertiary);
	background-color: #fbe8d2;
	border: #b40e0e solid 1px;
}

.error-text {
	color: var(--error-text);
	font-size: 0.7em;
}
