.split-container {
	display: flex;
}

.split-container .img {
	flex: 1;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
			rgba(47, 214, 181, 0.432),
			rgba(47, 214, 181, 0.3)
		),
		url('../assets/hero-img.jfif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.split-container .content {
	flex: 1;
	padding: 3rem 0 5rem 2rem;
}
