.split-container {
	display: flex;
}

.split-container .img {
	flex: 1;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
			rgba(47, 214, 181, 0.432),
			rgba(47, 214, 181, 0.3)
		),
		url('https://images.unsplash.com/photo-1556742502-ec7c0e9f34b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=4480&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.split-container .content {
	flex: 1;
	padding: 3rem 0 5rem 2rem;
}
